*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000a1f;
}

main{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

main img{
    width: 10%;
    height: 100%;
    object-fit: contain;
    transition: all ease-in-out 0.5s;
}

main img:hover{
    width: 25%;
}